<nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="{{titulo}}"
    (nzOnCancel)="handleCancel()"
    (nzAfterOpen)="setFormValues()"
    [nzOkLoading]="isOkLoading"
    [nzCentered]="true"
    [nzBodyStyle]="{ maxHeight: '80vh', overflowY: 'auto' }"
    [nzWidth]="'50%'"
    >
    <div *nzModalContent>
      <form [formGroup]="validateForm" nz-form (ngSubmit)="submitForm()">
        <!-- Nombre servicio -->
        <nz-form-item>
          <nz-form-label [nzSpan]="10" nzFor="nombreServicio" nzRequired>Nombre servicio</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="10" nzErrorTip="Este campo no puede estar vacío">
            <input nz-input id="nombreServicio" formControlName="nombreServicio" id="nombreServicio" type="text" required>
          </nz-form-control>
        </nz-form-item>
      
        <!-- Descripción -->
        <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="descripcion" nzRequired>Descripción</nz-form-label>
            <nz-form-control nzHasFeedback [nzSpan]="10" nzErrorTip="Este campo no puede estar vacío" required>
              <textarea nz-input id="descripcion" formControlName="descripcion" id="descripcion" [nzAutosize]="{ minRows: 6}" type="text" required></textarea>
            </nz-form-control>
          </nz-form-item>
      
        <!-- Fecha -->
        <nz-form-item>
          <nz-form-label [nzSpan]="10" nzFor="fecha" nzRequired>Fecha</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="10" nzErrorTip="Este campo no puede estar vacío">
            <input nz-input name="fecha" formControlName="fecha" id="fecha" type="date" required>
          </nz-form-control>
        </nz-form-item>
      
        <!-- Costo -->
        <nz-form-item>
          <nz-form-label [nzSpan]="10" nzFor="costo">Costo</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="10">
            <nz-input-group nzSuffix="USD" nzPrefix="$">
              <input nz-input name="costo" formControlName="costo" id="costo" type="number" nz-input/>
            </nz-input-group>
          </nz-form-control>
      </nz-form-item>

        <!-- IVA -->
        <nz-form-item>
          <nz-form-label [nzSpan]="10" nzFor="iva" nzRequired>IVA</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="10" nzErrorTip="Este campo no puede estar vacío" required>
            <nz-select formControlName="iva" name="iva" id="iva">
              <nz-option value="Si" nzValue="Si" nzLabel="Si"></nz-option>
              <nz-option value="No" nzValue="No" nzLabel="No"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        
        <!-- Descripción del servicio -->
        <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="descripcionServicio" nzRequired>Descripción del servicio</nz-form-label>
            <nz-form-control nzHasFeedback [nzSpan]="10" nzErrorTip="Este campo no puede estar vacío" required>
                <textarea nz-input id="descripcionServicio" formControlName="descripcionServicio" id="descripcionServicio" [nzAutosize]="{ minRows: 6}" type="text" required></textarea>
            </nz-form-control>
        </nz-form-item>

        <!-- Duración del servicio Prueba -->
        <nz-form-item>
          <nz-form-label [nzSpan]="10" nzFor="duracionServicio">Duración del servicio</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="10">
            <nz-range-picker
              [nzShowTime]="{ nzFormat: 'HH:mm' }"
              nzFormat="yyyy-MM-dd HH:mm"
              formControlName="duracionServicio"
              (nzOnCalendarChange)="onCalendarChange($event)"
              (nzOnOk)="onOk($event)"
            ></nz-range-picker>
          </nz-form-control>
        </nz-form-item>

        <!-- Empresa -->
        <nz-form-item>
          <nz-form-label [nzSpan]="10" nzFor="empresa" nzRequired>Empresa</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="10" nzErrorTip="Este campo no puede estar vacío" required>
            <nz-select nzPlaceHolder="Selecciona la empresa" formControlName="empresa">
              <nz-option *ngFor="let empresa of empresas" [nzValue]="empresa" [nzLabel]="empresa"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      
      </form>
    </div>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
      <button nz-button nzType="primary" (click)="submitForm()" [nzLoading]="isOkLoading">Guardar</button>
    </div>
  </nz-modal>