<div class="contenedor">
    <div class="botones">
      <div class="botonesIzquierda">
        <button nz-button nzType="primary" (click)="modalSucursales && modalSucursales.showModal()" [nzLoading]="isOkLoading">
          Crear sucursales
          <span nz-icon nzType="plus"></span>
        </button>
        <button nz-button nzType="default" (click)="reiniciarDatos()">
          Limpiar filtros
          <span nz-icon nzType="reload"></span>
        </button>
      </div>
    </div>
  
    <!-- SucursalesComponent HTML -->
    <app-modal-sucursales #modalSucursales></app-modal-sucursales>
    
    <!-- Utiliza la directiva *ngIf para mostrar el mapa sólo cuando isMapVisible es true -->
    <div class="map-container" *ngIf="isMapVisible">
      <div class="headerModal">
        <h3>Dirección (georreferenciada)</h3>
        <button nz-button nzType="default" (click)="isMapVisible = false">
          <span nz-icon nzType="close"></span>
        </button>
      </div>
      <mgl-map
        [style]="'https://api.maptiler.com/maps/streets/style.json?key=XZhFPJDkmovigwBqkvEd'"
        [zoom]="[14]"
        [center]="[ubicacionSucursal.longitud, ubicacionSucursal.latitud]"
      >
      <mgl-marker [lngLat]="[ubicacionSucursal.longitud, ubicacionSucursal.latitud]"></mgl-marker>
        <mgl-control mglNavigation position="top-left"></mgl-control>
      </mgl-map>
      <div class="footerModal">
        <button nz-button nzType="primary" (click)="isMapVisible = false">Aceptar</button>
      </div>
    </div>
  
    <nz-table
      class="tablaResponsive"
      nzShowSizeChanger
      [nzData]="listarSucursales"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      (nzQueryParams)="manejarQueryParams($event)"
    >
      <thead>
        <tr>
          <th nzColumnKey="nombreSucursal" [nzSortFn]="true">Nombre sucursal</th>
          <th nzColumnKey="tipoSucursal">Tipo de sucursal</th>
          <th nzColumnKey="ubicacion">Ubicación</th>
          <th nzColumnKey="estado">Estado</th>
          <th nzColumnKey="editar">Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sucursal of listarSucursales">
          <td>{{ sucursal.nombreSucursal }}</td>
          <td>{{ sucursal.tipoSucursal }}</td>
          <td nzCellControl="ubicacion">
            <button nz-button nzType="link" (click)="getUbicacion(sucursal.id); isMapVisible = true">
              Ver mapa
            </button>
          </td>
          <td>{{ sucursal.estado }}</td>
          <td nzCellControl="editar">
            <button nz-button nzType="link" (click)="editarSucursal(sucursal)">
              <span nz-icon nzType="edit" nzTheme="outline"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>