.contenedor {
    width: 100%;
    min-width: 50%;
    margin: 0 auto;
}  

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 5%;
    margin-bottom: 40px;
  }

.ant-btn {
    border-radius: 10px;
  }

.tablaResponsive {
    width: 100%;
    overflow-x: auto;
  }