<div class="contenedor">
  <div class="botones">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="Introduce texto para tu búsqueda" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
    </ng-template>
    <button nz-button nzType="default">
      Reiniciar
      <span nz-icon nzType="reload"></span>
    </button>
    <button nz-button nzType="primary" (click)="showModal()">
      Crear
      <span nz-icon nzType="plus"></span>
    </button>
  </div>

  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="Crear nueva empresa"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading"
    [nzCentered]="true"
    [nzBodyStyle]="{ maxHeight: '80vh', overflowY: 'auto' }"
    >
    <div *nzModalContent>
      <form nz-form>
        <!-- Nombre Comercial -->
        <nz-form-item>
          <nz-form-label [nzSpan]="9" nzFor="nombreComercial">Nombre comercial</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input name="nombreComercial" [(ngModel)]="nuevaEmpresa.nombreComercial" id="nombreComercial" type="text">
          </nz-form-control>
        </nz-form-item>
      
        <!-- Razon Social -->
        <nz-form-item>
          <nz-form-label [nzSpan]="9" nzFor="razonSocial">Razón social</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input name="razonSocial" [(ngModel)]="nuevaEmpresa.razonSocial" id="razonSocial" type="text">
          </nz-form-control>
        </nz-form-item>
      
        <!-- Actividad Económica -->
        <nz-form-item>
          <nz-form-label [nzSpan]="9" nzFor="actividadEconomica">Actividad económica</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input name="actividadEconomica" [(ngModel)]="nuevaEmpresa.actividadEconomica" id="actividadEconomica" type="text">
          </nz-form-control>
        </nz-form-item>
      
        <!-- Estado -->
        <nz-form-item>
          <nz-form-label [nzSpan]="9" nzFor="estado">Estado</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <select [(ngModel)]="nuevaEmpresa.estado" name="estado">
              <option value="activo">Activo</option>
              <option value="inactivo">Inactivo</option>
            </select>
          </nz-form-control>
        </nz-form-item>
      
        <!-- Imágenes -->
        <nz-form-item>
          <nz-form-label [nzSpan]="9" nzFor="imagenes">Imágenes</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <!-- Puedes usar un componente de carga de archivos aquí -->
            <input name="imagenes" type="file" multiple [(ngModel)]="nuevaEmpresa.imagenes" id="imagenes" />
          </nz-form-control>
        </nz-form-item>
      
        <!-- Categoría -->
        <nz-form-item>
          <nz-form-label [nzSpan]="9" nzFor="categoria">Categoría</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input name="categoria" [(ngModel)]="nuevaEmpresa.categoria" id="categoria" type="text">
          </nz-form-control>
        </nz-form-item>
      
        <!-- Dirección -->
        <nz-form-item>
          <nz-form-label [nzSpan]="9" nzFor="direccion">Dirección</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input name="direccion" [(ngModel)]="nuevaEmpresa.direccion" id="direccion" type="text">
          </nz-form-control>
        </nz-form-item>
      
        <!-- Quiénes Somos -->
        <nz-form-item>
          <nz-form-label [nzSpan]="9" nzFor="quienesSomos">Quiénes somos</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <textarea nz-input name="quienesSomos" [(ngModel)]="nuevaEmpresa.quienesSomos" id="quienesSomos"></textarea>
          </nz-form-control>
        </nz-form-item>
      
        <!-- Nombre de Contacto -->
        <nz-form-item>
          <nz-form-label [nzSpan]="9" nzFor="nombreContacto">Nombre de contacto</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input name="nombreContacto" [(ngModel)]="nuevaEmpresa.nombreContacto" id="nombreContacto" type="text">
          </nz-form-control>
        </nz-form-item>
      
        <!-- Teléfono -->
        <nz-form-item>
          <nz-form-label [nzSpan]="9" nzFor="telefono">Teléfono</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input name="telefono" [(ngModel)]="nuevaEmpresa.telefono" id="telefono" type="tel">
          </nz-form-control>
        </nz-form-item>
      
        <!-- E-mail -->
        <nz-form-item>
          <nz-form-label [nzSpan]="9" nzFor="correo">Correo</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input name="correo" [(ngModel)]="nuevaEmpresa.correo" id="correo" type="email">
          </nz-form-control>
        </nz-form-item>
      
        <!-- Redes Sociales -->
        <nz-form-item>
          <nz-form-label [nzSpan]="9" nzFor="redesSociales">Redes sociales</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input name="linkedin" [(ngModel)]="nuevaEmpresa.redesSociales.linkedin" id="linkedin" placeholder="LinkedIn" />
            <input nz-input name="twitter" [(ngModel)]="nuevaEmpresa.redesSociales.twitter" id="twitter" placeholder="Twitter" />
            <input nz-input name="facebook" [(ngModel)]="nuevaEmpresa.redesSociales.facebook" id="facebook" placeholder="Facebook" />
            <input nz-input name="instagram" [(ngModel)]="nuevaEmpresa.redesSociales.instagram" id="instagram" placeholder="Instagram" />
          </nz-form-control>
        </nz-form-item>
      
        <!-- Fecha de Creación -->
        <nz-form-item>
          <nz-form-label [nzSpan]="9" nzFor="fechaCreacion">Fecha de creación</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <nz-date-picker name="fechaCreacion" [(ngModel)]="nuevaEmpresa.fechaCreacion" id="fechaCreacion"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
        
      </form>
    </div>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
      <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isOkLoading">Crear</button>
    </div>
  </nz-modal>
  
  <nz-table
    nzShowSizeChanger
    [nzData]="listarEmpresas"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    (nzQueryParams)="onQueryParamsChange($event)"
  >
    <thead>
      <tr>
        <th nzColumnKey="nombreComercial" [nzSortFn]="true">Nombre comercial</th>
        <th nzColumnKey="razonSocial">Razón social</th>
        <th nzColumnKey="actividadEconomica">Actividad económica</th>
        <th nzColumnKey="estado">Estado</th>
        <th nzColumnKey="editar">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empresa of listarEmpresas">
        <td>{{ empresa.nombreComercial }}</td>
        <td>{{ empresa.razonSocial }}</td>
        <td>{{ empresa.actividadEconomica }}</td>
        <td>{{ empresa.estado ? 'Activo' : 'Inactivo' }}</td>
        <td nzCellControl="editar">
          <button nz-button nzType="link">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>