<div class="contenedor">
  <div class="botones">
    <div class="botonesIzquierda">
      <button nz-button nzType="primary" (click)="modalEmpresas && modalEmpresas.showModal()" [nzLoading]="isOkLoading">
        Crear empresa
        <span nz-icon nzType="plus"></span>
      </button>
      <button nz-button nzType="default" (click)="reiniciarDatos()">
        Limpiar filtros
        <span nz-icon nzType="reload"></span>
      </button>
    </div>
    <button nz-button nzType="default" (click)="exportarAExcel()">
      Descargar información
      <span nz-icon nzType="file-excel"></span>
    </button>
  </div>

  <!-- EmpresasComponent HTML -->
<app-modal-empresas #modalEmpresas></app-modal-empresas>

  <nz-table
    class="tablaResponsive"
    nzShowSizeChanger
    [nzData]="listarEmpresas"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    (nzQueryParams)="manejarQueryParams($event)"
  >
    <thead>
      <tr>
        <th nzColumnKey="nombreComercial" [nzSortFn]="true">Nombre comercial</th>
        <th nzColumnKey="razonSocial">Razón social</th>
        <th nzColumnKey="actividadEconomica">Actividad económica</th>
        <th nzColumnKey="estado">Estado</th>
        <th nzColumnKey="editar">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empresa of listarEmpresas">
        <td>{{ empresa.nombreComercial }}</td>
        <td>{{ empresa.razonSocial }}</td>
        <td>{{ empresa.actividadEconomica }}</td>
        <td>{{ empresa.estado }}</td>
        <td nzCellControl="editar">
          <button nz-button nzType="link" (click)="editarEmpresa(empresa)">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>