<nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="{{titulo}}"
    (nzOnCancel)="handleCancel()"
    (nzAfterOpen)="setFormValues()"
    [nzOkLoading]="isOkLoading"
    [nzCentered]="true"
    [nzBodyStyle]="{ maxHeight: '80vh', overflowY: 'auto' }"
    [nzWidth]="'50%'"
    >
    <div *nzModalContent>
      <form [formGroup]="validateForm" nz-form (ngSubmit)="submitForm()">
        <!-- Nombre del Producto -->
        <nz-form-item>
          <nz-form-label [nzSpan]="10" nzFor="nombreProducto" nzRequired>Nombre del producto</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="10" nzErrorTip="Este campo no puede estar vacío">
            <input nz-input id="nombreProducto" formControlName="nombreProducto" id="nombreProducto" type="text" required>
          </nz-form-control>
        </nz-form-item>
      
        <!-- Descripción -->
        <nz-form-item>
          <nz-form-label [nzSpan]="10" nzFor="descripcion" nzRequired>Descripción</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="10" nzErrorTip="Este campo no puede estar vacío" required>
            <textarea nz-input id="descripcion" formControlName="descripcion" id="descripcion" [nzAutosize]="{ minRows: 6}" type="text" required></textarea>
          </nz-form-control>
        </nz-form-item>
      
        <!-- Funcionalidades -->
        <nz-form-item>
          <nz-form-label [nzSpan]="10" nzFor="funcionalidades" nzRequired>Funcionalidades</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="10" nzErrorTip="Este campo no puede estar vacío" required>
            <textarea nz-input id="funcionalidades" formControlName="funcionalidades" id="funcionalidades" [nzAutosize]="{ minRows: 6}" type="text" required></textarea>
          </nz-form-control>
        </nz-form-item>
      
        <!-- Multimedia -->
        <nz-form-item>
          <nz-form-label [nzSpan]="10" nzFor="multimedia" nzRequired>Multimedia</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="10" nzErrorTip="Este campo no puede estar vacío" required>
            <!-- Puedes usar un componente de carga de archivos aquí -->
            <input name="multimedia" type="file" formControlName="multimedia" id="multimedia" (change)="subirMultimedia($event)" required/>
            <div class="multimedia">
              <div *ngFor="let multi of multimedia">
                <img [src]="multi" width="100px">
                <button nz-button nzType="primary" nzShape="circle" (click)="eliminarMultimedia($event, multi)" nzSize="small"><span nz-icon nzType="close"></span></button>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>

        <!-- Texto -->
        <nz-form-item>
          <nz-form-label [nzSpan]="10" nzFor="texto" nzRequired>Texto</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="10" nzErrorTip="Este campo no puede estar vacío">
            <input nz-input id="texto" formControlName="texto" id="texto" type="text" required>
          </nz-form-control>
        </nz-form-item>
      
        <!-- Descripción de caracteristicas -->
        <nz-form-item>
          <nz-form-label [nzSpan]="10" nzFor="descripcionCaracteristica" nzRequired>Descripción de caracteristicas</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="10" nzErrorTip="Este campo no puede estar vacío" required>
            <textarea nz-input id="descripcionCaracteristica" formControlName="descripcionCaracteristica" id="descripcionCaracteristica" [nzAutosize]="{ minRows: 6}" type="text" required></textarea>
          </nz-form-control>
        </nz-form-item>
      
        <!-- Empresa -->
        <nz-form-item>
          <nz-form-label [nzSpan]="10" nzFor="empresa" nzRequired>Empresa</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="10" nzErrorTip="Este campo no puede estar vacío" required>
            <nz-select nzPlaceHolder="Seleccione la empresa" formControlName="empresa">
              <nz-option *ngFor="let empresa of empresas" [nzValue]="empresa" [nzLabel]="empresa"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

      </form>
    </div>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
      <button nz-button nzType="primary" (click)="submitForm()" [nzLoading]="isOkLoading">Guardar</button>
    </div>
  </nz-modal>