<ul nz-menu nzMode="inline" style="width: 240px; height: 100%;" [nzTheme]="theme ? 'dark' : 'light'">
  <div class="logo">
    <img src="../../../../assets/img/admin.png"/>  
  </div>
  <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"></ng-container>
  <ng-template #menuTpl let-menus>
    <ng-container *ngFor="let menu of menus">
      <li
        *ngIf="!menu.children"
        nz-menu-item
        [nzPaddingLeft]="menu.level * 24"
        [nzDisabled]="menu.disabled"
        [nzSelected]="menu.selected"
        (click)="navigate(menu.route)"
      >
        <span nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></span>
        <span>{{ menu.title }}</span>
      </li>
      <li
        *ngIf="menu.children"
        nz-submenu
        [nzPaddingLeft]="menu.level * 24"
        [nzOpen]="menu.open"
        [nzTitle]="menu.title"
        [nzIcon]="menu.icon"
        [nzDisabled]="menu.disabled"
      >
        <ul>
          <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"></ng-container>
        </ul>
      </li>
    </ng-container>
  </ng-template>
</ul>